name: Discord Auto Bot 15m

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:      # Nút này để bạn test ngay lập tức mà không cần đợi 15p

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install playwright
          playwright install chromium --with-deps
      - name: Execute Bot
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
        run: python bot_discord.py
