name: VSPhone Auto Register Pro

on:
  repository_dispatch:
    types: [run-tool]
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Libraries
        run: |
          python -m pip install --upgrade pip
          # Cài đặt các thư viện cần thiết bản ổn định
          pip install playwright playwright-stealth requests
          # Cài đặt trình duyệt và các thư viện hệ thống đi kèm
          playwright install chromium --with-deps

      - name: Run Registration Script
        run: |
          # Chạy file register.py với mã Ref truyền vào hoặc mặc định
          python register.py ${{ github.event.client_payload.ref || 'vsagwtjq63' }}

      - name: Upload Logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: debug-results
          path: |
            *.png
